@CHARSET "ISO-8859-1";
#container {
 padding-left: 200px;
 position: relative;
 left: 0;
 width: 100%;
}
#menu {
 position: fixed;
 height: 50%;
 background-color: #8AD385;
 width: 200px;
 left: 0;
}
#menu ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu ul li {
 line-height: 2.9em;
 height: 2.9em;
}
#menu li a {
 display: block;
 color: #fff;
 padding: 0 1em;
 border-bottom: 1px solid #333;
}
#menu li:hover {
  background: #CDE2CD;
}