<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="css/main.css">
<body>
	<div id="menu">
		 <ul>
			 <li><a href="trangchu-html">Home</a></li>
			 <li><a href="">Phòng ban</a></li>
			 <li><a href="<%=request.getContextPath()%>/view-nhanvien">Xem nhân viên</a></li>
			 <li><a href="<%=request.getContextPath()%>/timkiem-nhanvien">Tìm kiếm nhân viên</a></li>
			 <li><a href="<%=request.getContextPath()%>/capnhap-thongtin">Cập nhập thông tin</a></li>
			 <li><a href="<%=request.getContextPath()%>/xoa-thongtin">Xóa thông tin</a></li>
 		</ul>
 	</div>
</body>
</html>